@page "/"

<h1 class="text-center mb-5">Welcome to MyBank</h1>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-primary">Latest News and Updates</h3>
                    <ul class="list-unstyled">
                        <li class="media my-4">
                            <img src="https://picsum.photos/64" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1 text-info">New Mobile Banking App</h5>
                                <p class="mb-0">Download our new mobile app for easier banking on the go!</p>
                                <small class="text-muted">2 days ago</small>
                            </div>
                        </li>
                        <li class="media my-4">
                            <img src="https://picsum.photos/64" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1 text-info">Holiday Schedule</h5>
                                <p class="mb-0">Our branch locations will be closed on April 5th in observance of the holiday.</p>
                                <small class="text-muted">3 days ago</small>
                            </div>
                        </li>
                        <li class="media my-4">
                            <img src="https://picsum.photos/64" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1 text-info">New CD Rates</h5>
                                <p class="mb-0">Take advantage of our new CD rates - visit a branch or give us a call to learn more!</p>
                                <small class="text-muted">1 week ago</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    // Add any necessary code here, such as retrieving news updates from a database.
}



